<!DOCTYPE html>
<html lang="no">
<head>
  <title>Anomalist - Projects</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="/script.js"></script>
  <link rel="stylesheet" type="text/css" href="/style.css">  
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.min.js"></script>
  <script src="projects.js"></script>

</head>
<body>
<div ng-app="anomalist">
<div top-menu active="Projects"></div>
</div>

<div id="app2" ng-controller="pro">
<div class="container text-center">
<h4>Projects</h4>
<!--<p>We do architectural design for a wide range of buildings, including 
<a href="/category/bolig/">private homes</a> (interior), 
<a href="/museum/">museums and public spaces</a> (exterior and interior), and 
<a href="/category/shops">shops and restaurants</a> (interior).
Additionally, we do <a href="/category/products">product and furtniture design</a>.
<br>Below is an overview of a subset of our past projects.</p>-->
<p>Filter by category: <span class="catLink" ng-click="currentType = undefined" style="font-weight:600">All</span>&nbsp;|&nbsp;
<span ng-repeat="myType in types"><span class="catLink" style="font-weight:600" ng-click="$parent.currentType = myType">{{myType}}</span>&nbsp;|&nbsp;</span></p>

  <div class="row">
    <div class="col-md-4" ng-repeat="project in projects | filter:(!!{type:currentType} || undefined) && {type:currentType}">
      <div class="thumbnail">
		<a href="{{project.image}}" data-toggle="lightbox" data-title="{{project.caption}}" data-footer="{{project.text}}">
        <img src="{{project.image}}" alt="{{project.caption}}" style="width:100%">
		</a>
        <div class="caption"><p><strong>{{project.caption}}</strong><p>
        </div>
      </div>
    </div>

  </div>
</div>

</div>
</body>
</html>