<!DOCTYPE html>
<html lang="no">
<head>
  <title>Anomalist - Design</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="/webpage/script.js"></script>
  <link rel="stylesheet" type="text/css" href="/webpage/style.css">  
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.min.js"></script>
  <script src="projects.js"></script>

</head>
<body>
<div ng-app="anomalist">
<div top-menu active="DESIGN"></div>
</div>

<div id="app2" ng-controller="pro">
<div class="container text-center">
  <br /><br /><br />

<h1>INTERIOR DESIGN</h1>
<!--<p>We do architectural design for a wide range of buildings, including 
<a href="/category/bolig/">private homes</a> (interior), 
<a href="/museum/">museums and public spaces</a> (exterior and interior), and 
<a href="/category/shops">shops and restaurants</a> (interior).
Additionally, we do <a href="/category/products">product and furtniture design</a>.
<br>Below is an overview of a subset of our past projects.</p>-->
<p><span class="catLink" ng-click="currentType = undefined">All</span>&nbsp;|&nbsp;
<span ng-repeat="myType in types"><span class="catLink" ng-click="$parent.currentType = myType">{{myType}}</span>&nbsp;|&nbsp;</span></p>

  <div class="row">
    <div class="col-md-4" ng-repeat="project in projects | filter:(!!{type:currentType} || undefined) && {type:currentType}">
      <div class="thumbnail">
		<a href="{{project.image}}" data-toggle="lightbox" data-title="{{project.caption}}" data-footer="{{project.text}}">
        <img src="{{project.image}}" alt="{{project.caption}}" style="width:100%">
		</a>
        <div class="caption"><p>{{project.caption}}<p>
        </div>
      </div>
    </div>

  </div>
</div>


<br /><br /><br />
<br /><br /><br /><br />
<p><a href="https://www.facebook.com/uselessland.social/" target="_blank"><i class="fa fa-facebook-square" style="font-size:24px;color:#999"></i></a> 
<a href="https://www.instagram.com/uselessland/" target="_blank"><i class="fa fa-instagram" style="font-size:24px;color:#999"></i></a> 
<a href="https://www.uselessland.com" target="_blank"><i class="fa fa-circle" style="font-size:24px;color:#999"></i></a><br><br><br></p>


</div>
</body>
</html>